<div class="form-bg">
  <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="form-title text-center pad-top pad-bot">
            <p>WE CAN ANSWER YOUR QUESTIONS</p>
            <h1>Want more information?</h1>
            <p>Our team are more than happy to answer any questions you may have regarding CareMeds products.</p>
          </div>
        </div>
        <div class="col-xs-12 col-md-6 col-md-offset-3">
          <div class="form">
            <!-- <form> -->
              <%= form_for :contact, url: create_contact_url do |f| %>
              <div class="form-group">
                <%= f.text_field :name, placeholder: 'Name', :required => true, class: "form-control" %>
              </div>
              <div class="form-group">
                <%= f.email_field :email, placeholder: 'Email', :required => true, class: "form-control" %>
              </div>
              <div class="form-group">
                <%= f.text_area :body, placeholder: 'Your Message', :required => true, class: "form-control", rows: '6' %>
              </div>
              <div class="form-group">
                <%= f.submit 'Send', class: "form-btn" %>
              </div>
              <% end %>
            <!-- </form> -->
          </div>
        </div>
      </div>
  </div>
</div>
