<div class="navbar-wagon <%= yield(:navbar_class) %>">
  <!-- Logo -->
  <%= link_to root_path, class: "navbar-wagon-brand" do %>
    <%= image_tag "Caremeds-logo.jpeg" %>
  <% end %>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right">

    <div class="hidden-xs hidden-sm">
        <%= link_to "Home", pages_home_path, class: "navbar-wagon-item navbar-wagon-link" %>
        <%= link_to "Pharmacy", pages_pharmacy_path, class: "navbar-wagon-item navbar-wagon-link" %>
        <%= link_to "Care Providers", pages_careproviders_path, class: "navbar-wagon-item navbar-wagon-link" %>
        <%#= link_to "EMAR", pages_emar_path, class: "navbar-wagon-item navbar-wagon-link" %>
        <%= link_to "Contact Us", pages_contactus_path, class: "navbar-wagon-item navbar-wagon-link" %>
        <%= link_to "FAQs", pages_faqs_path, class: "navbar-wagon-item navbar-wagon-link" %>
        <%= link_to "News", pages_news_path, class: "navbar-wagon-item navbar-wagon-link" %>
        <%#= link_to "Updates", pages_updates_path, class: "navbar-wagon-item navbar-wagon-link" %>
    </div>

    <!-- For use of drop down in desktop mode -->
    <!-- <div class="dropdown hidden-xs hidden-sm">
      <a class="navbar-wagon-item navbar-wagon-link" data-toggle="dropdown">More..<span class="caret"></span></a>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li><%#= link_to "Contact Us", pages_contactus_path %></li>
        <li><%#= link_to "FAQs", pages_faqs_path %></li>
        <li class="divider"></li>
        <li class="dropdown-header">SYSTEM</li>
        <li><%#= link_to "News", pages_news_path %></li>
        <li><%#= link_to "Updates", pages_updates_path %></li>
      </ul>
    </div> -->

  </div>

  <!-- Dropdown list appearing on mobile only -->
  <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu multi-level dropdown-menu-right navbar-wagon-dropdown-menu">

        <li> <%= link_to "Home", pages_home_path %></li>
        <li> <%= link_to "Pharmacy", pages_pharmacy_path %></li>
        <li> <%= link_to "Care Providers", pages_careproviders_path %></li>
        <li> <%#= link_to "EMAR", pages_emar_path %></li>
        <li> <%= link_to "Contact Us", pages_contactus_path%></li>
        <li class="divider"></li>
        <li> <%= link_to "FAQs", pages_faqs_path %></li>
        <li> <%= link_to "News", pages_news_path %></li>
        <li> <%= link_to "Updates", pages_updates_path %></li>
        <!-- For use of sub drop down in mobile mode -->
        <!-- <li class="dropdown-submenu">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown</a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
          </ul>
        </li> -->
      </ul>
    </div>
  </div>
</div>
