<% content_for :meta_title, "#{@news_blog.title} | #{DEFAULT_META["meta_product_name"]}" %>
<% content_for :meta_description, "#{@news_blog.description.truncate(150)}" %>
<% content_for :meta_keywords, "#{@news_blog.meta_keywords}" %>


<p style="color:#778899"><%= @news_blog.description %></p>

<div class="row attachments">
  <% counter = 0 %>
  <% if @news_blog.attachments.attachments != nil %>
    <% @news_blog.attachments.each do |a| %>
    <% counter += 1 %>
     <div class="-col-xs-12 col-sm-4 pad-bot">
      <div class="card-<%= counter %>">
        <% unless a.blob.content_type == "application/pdf" %>
          <div class="card-image">
            <%= image_tag a %>
          </div>
        <% end %>
      </div>
      <% unless a.blob.content_type != "application/pdf" %>
        <%= link_to a.blob.filename, rails_blob_path(a, disposition: "previewable"), target: :_blank %>
      <% end %>
     </div>
    <% end %>
  <% end %>
</div>

<script>
  document.getElementsByTagName('meta')["keywords"].content = "<%= @news_blog.meta_keywords.blank? != true ? @news_blog.meta_keywords : DEFAULT_META["meta_keywords"]%>";
  document.getElementsByTagName('meta')["description"].content = "<%= @news_blog.description.truncate(150) %>";
  document.title = "<%= @news_blog.title %>";
</script>
