<% provide(:title, 'Care Providers') %>

<!-- <video playsinline autoplay muted loop>
  <source src="https://player.vimeo.com/external/158148793.hd.mp4?s=8e8741dbee251d5c35a759718d4b0976fbf38b6f&profile_id=119&oauth2_token_id=57447761">
    <source <%#= video_tag "test.mp4" %> </source>
</video>


<div class="overlay">
  <div class="overlay-text">
    <h1>Are you looking to reduce Medication Errors?</h1>
    <h2> Of course you are, that’s why you are here.</h2>
  </div>
</div> -->

<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url(<%= image_path "banners/careprovider-banner.png" %>)">
  <div class="banner-content">
    <h1>Are you looking to reduce Medication Errors?</h1>
    <p>Of course you are, that’s why you are here.</p>
    <!-- <a class="btn btn-primary btn-lg">Start now</a> -->
  </div>
</div>

<div class="container">
  <div class="row pad-top">
    <div class="col-xs-12 pad-top pad-bot">
      <h4 class="text-center darkgray"><strong>30,000 residents receive medications using CareMeds systems everyday</strong></h4>
      <p class="text-center lightslategray"><b>Care providers</b> are under increasing pressure to reduce the number of errors made when administering medications. Together with CareMeds and your local pharmacy, you have the solution</p>
    </div>
  </div>
</div>
<div class="background-color">
  <div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-sm-offset-3 text-center">
          <div class="graph">
            <%= image_tag "charts/homepage_solution.png" %>
          </div>
        </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row pad-top">
    <div class="col-xs-12 pad-top pad-bot lightslategray">
      <p class="text-center">Whether it’s our market leading <b>Paper MARs</b> or our very latest <b>eMAR</b> system supported by the patented <b>MultiMeds or Unit Dose</b> blister packs, care providers just like you are increasingly choosing pharmacies that use CareMeds </p>
      <p class="text-center">If you are serious about improving patient outcomes, get serious with <b>CareMeds</b>.</p>
    </div>
    <div class="quote" style="color:#857e7e;">
      <p class="text-left"><i class="fa fa-quote-left fa-2x"></i></p>
      <p>Having researched the market, CaremMeds eMAR combined with the MultiMeds blister system was the stadout solution for our students and nurses, having used it for over a year now, both systems have exceeded our expectations. <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></p>
      <p class="text-right"><i class="fa fa-quote-right fa-2x"></i></p>
      <p class="text-right"><small><i> Jane Hayden - Head of Technology. <strong> Treloars Trust</strong> </i></small></p>
      </p>
    </div>
  </div>
</div>

<!-- <div class="background-color">
  <div class="container pad-bot click2Scroll">
    <div class="row">

      <div class="col-xs-12 col-sm-4">
        <div class="card">
          <div class="card-image">
            <img src="http://www.loveo.cc/wp-content/uploads/2017/02/card-image.jpg"
              alt="Orange" />
            <div class="card-description">
              <h2>Paper MARs</h2>

            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="card">
          <div class="card-image">
            <img src="http://www.loveo.cc/wp-content/uploads/2017/02/card-image.jpg"
              alt="Orange" />
            <div class="card-description">
              <h2>MultiMeds/Unit Dose</h2>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
 -->
<!-- <div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h4 class="text-center brown-text"><strong>Medication administration errors in care and nursing homes are at unacceptable levels</strong></h4>
      <p class="text-center">There has been many studies carried out in this area over the last 4 years and all have published their findings with trends idenfying risks that need to be addressed.</p>
      <p class="text-center">Homecare providers have until now been left exposed by a lack of systems for evidencing outcomes around medicines management in the home.</p>
    </div>
  </div>
  <div class="row">
      <div class="col-xs-12 col-sm-6 col-sm-offset-3 text-center">
        <div class="graph">
          <%#= image_tag "charts/medic-error.png" %>
        </div>
      </div>
  </div>
</div> -->

<!--
<div class="background-color">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <p class="text-center">One of the areas identified where we can combat this problem is by improving the paper systems used currently and potentially by introducing electronic systems known as Electronic MARs</p>
        <p class="text-center">At CareMeds, We have taken care of both..</p>
      </div>
    </div>
  </div>
</div>
 -->

<div class="pharm-parallax" style="background-image: url(<%= image_path 'banners/careprovider-banner.png'%>);opacity: 0.5;"></div>

<!-- <div class="container">
  <div class="row">
    <div class="col-xs-12 pad-top pad-bot">
      <h4 class="text-center brown-text"><strong>Web Based Dispensing System</strong></h4>
      <p class="text-center">Our web based dispensing system used by pharmacies specialising in managed care services is the only system that provides <strong>ONE PATIENT RECORD</strong> accessible by all stakeholders aimed at medicines management. The pharmacist, the care provider and even the GP can access the patient dispensing data.</p>
    </div>
  </div>
</div> -->

<div class="background-color">

  <div class="container">

    <div class="row">
      <h4 class="text-center pad-top darkgray"><b>CareMeds Three latest Innovations</b></h4>
    </div>

    <div class="row center-wrap">
      <div class="col-xs-12 col-md-6">
        <div class="innovative-models well well-lg text-center lightslategray">
          <h3 class="text-center"><b>CareMeds eMAR</b></h3><br>
          <p class="text-center">The latest addition to the product portfolio is our <b>Android</b> based <b>CareMeds eMAR system</b>. <br>
          A powerful intuitive app designed to ensure the <b><i>“5 Rights in medication administration”</i></b> using Photographic Identification of Resident and Medication, further supported by 2D barcodes for each item.
          </p>
          <hr class="style-two-color">
          <p> <b>1.</b> Right Client </p>
          <hr class="style-two-color">
          <p> <b>2.</b> Right Route </p>
          <hr class="style-two-color">
          <p> <b>3.</b> Right Drug </p>
          <hr class="style-two-color">
          <p> <b>4.</b> Right Dose </p>
          <hr class="style-two-color">
          <p> <b>5.</b> Right Time </p>
          <hr class="style-two-color">
          <p>There is also a <b>6th Right</b> with CareMeds, the right documentation giving you the ability to evidence what great person-centred care you are providing to your residents and improve those all-important CQC ratings.</p>
        </div>
      </div>

      <div class="col-xs-12 col-md-6 space-around">
        <div class="innovative-models-cards">
          <div class="innovative-models-image"><%= image_tag "products/eMAR-tab.png" %></div>
        </div>

      </div>
    </div>

  </div>

</div>

<div class="container">
    <div class="row center-wrap">
      <div class="col-xs-12 col-md-6 space-around">
        <div class="innovative-models-cards">
          <div class="innovative-models-image"><%= image_tag "products/homemanager.png" %></div>
        </div>
      </div>

      <div class="col-xs-12 col-md-6">
        <div class="innovative-models well well-lg text-center lightslategray">
          <h3 class="text-center"><b>CareMeds HomeManager</b></h3><br>
          <p class="text-center">A <b>cloud based system</b> that links the carehome directly to the <b>Pharmacy</b> and <b>eMAR systems</b>. A feature rich, reporting and communication tool designed to put control at your finger tips. <br><br>
          The dynamic dashboard gives a real-time status reports to Managers alerting the user to:
          </p>
          <hr class="style-two-color">
          <p><span class="glyphicon glyphicon-ok"></span> Missed Doses </p>
          <hr class="style-two-color">
          <p><span class="glyphicon glyphicon-ok"></span> Low Stock </p>
          <hr class="style-two-color">
          <p><span class="glyphicon glyphicon-ok"></span> Round Duration </p>
          <hr class="style-two-color">
          <p><span class="glyphicon glyphicon-ok"></span> Near Misses</p>
          <hr class="style-two-color">
          <p><span class="glyphicon glyphicon-ok"></span> Other Alerts</p>
          <hr class="style-two-color">
          <p>And much more business intelligence data that can help eliminate problems before they arise.</p><br><br>
        </div>
      </div>
    </div>
</div>

<div class="background-color">

  <div class="container">
    <div class="row center-wrap">
      <div class="col-xs-12 col-md-6">
        <div class="innovative-models well well-lg text-center lightslategray">
          <h3 class="text-center"><b>CareMeds Paper MARs</b></h3><br>
          <p class="text-center">At CareMeds, We have carefully created and designed the Paper MARs Charts for those CareProviders who are not yet ready or are still deciding whether to switch to our very own eMAR solution as an alternative to the traditional Paper MARs <br><br>
           <b><i>“Our 5 Charts in medication administration”</i></b> <br>
          </p>
          <hr class="style-two-color">
          <p class="cursor" onclick="getElementById('next').src='/assets/charts/mar.png'"> <b>1.</b> <u>MAR Chart </u></p>
          <hr class="style-two-color">
          <p class="cursor" onclick="getElementById('next').src='/assets/charts/prn.png'"> <b>2.</b> <u>PRN Chart </u></p>
          <hr class="style-two-color">
          <p class="cursor" onclick="getElementById('next').src='/assets/charts/insulin.png'"> <b>3.</b> <u>Insulin Chart </u></p>
          <hr class="style-two-color">
          <p class="cursor" onclick="getElementById('next').src='/assets/charts/topical.png'"> <b>4.</b> <u>Topical Chart </u></p>
          <hr class="style-two-color">
          <p class="cursor" onclick="getElementById('next').src='/assets/charts/warfarin.png'"> <b>5.</b> <u>Warfarin Chart </u></p>
        </div>
      </div>

      <div class="col-xs-12 col-md-6 space-around">
        <div class="innovative-models-cards next">
          <div class="innovative-models-image"><img id="next" src="/assets/charts/mar.png"></div>
        </div>
      </div>
    </div>

  </div>

</div>

<!--
<div id="charts" class="carousel slide" data-ride="carousel">

  <ol class="carousel-indicators">
    <li data-target="#charts" data-slide-to="0"></li>
    <li data-target="#charts" data-slide-to="1"></li>
    <li data-target="#charts" data-slide-to="2"></li>
  </ol>


  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <%#= image_tag "charts/mar.png" %>
      <div class="carousel-caption">

      </div>
    </div>
    <div class="item">
      <%#= image_tag "charts/prn.png" %>
      <div class="carousel-caption">

      </div>
    </div>
  </div>
</div> -->


<div class="container">
  <div class="row">
    <div class="col-xs-12">

    </div>
  </div>
</div>

<%= render "shared/form" %>
