<%# provide(:title, 'News') %>
<% content_for :meta_title, "News | #{DEFAULT_META["meta_product_name"]}" %>
<% content_for :meta_image, "#{DEFAULT_META["meta_image"]}" %>

<div class="parallax-news">
  <div class="banner-news">
  <div class="banner-content-news text-center">
    <h1>Caremeds News & Updates</h1>
    <br>
    <p>Our main focus is on helping you helping others and that is why we would love to share several of our resources, tips and information about our Solutions across the entire stack.</p>
  </div>
  </div>
</div>

<div id="news-body">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
          <%# new_counter = 0 %>
        <% @news_blogs.each_with_index do |nb, i| %>
          <%# new_counter += 1 %>
          <div class="news-item">
            <div class="title">
              <div class="news-date">
                <p class="created-day"><%= nb.created_at.strftime("%e") %></p>
                <p class="created-month"><%= nb.created_at.strftime("%b") %></p>
              </div>
                <h2 style="color:#445d77"><%= nb.title %></h2>
            </div>
            <hr style="border-color:#9d9d9d6b;margin:8px 0 8px 0;">
            <p class="news-info">Details</p>
            <p style="color:#778899" class="truncDescription visible truncDescription-<%=nb.id%>"><%= nb.description.truncate(85) %></p>
            <!-- <a class="expandMe" data-id="<%= i %>"> Read more</a> -->

            <%= link_to "Read More", show_path(nb), class: "readMore", remote: true %>

            <!-- <p style="color:#778899" class="fullDescription<%=i%>"><%#= nb.description %></p> -->

            <!-- <a class="expandMe-<%#=nb.id%>" onclick="$.ajax('<%= show_path(nb)%>.js')" data-id="<%= i %>">Read More</a> -->

            <div class="empty-<%=nb.id%> empty"></div>

          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<!-- <script>
  window.onload = function() {

    $('.expandMe').each(function(index){
      // id = $(this).data('id');
      id = index;
      $('.fullDescription'+id).hide();
      $('.attachments'+id).hide();
      $('.truncDescription'+id).addClass('visible');
    });

    $('.expandMe').each(function(index){

        $(this).on('click',function() {

        if ($('.truncDescription'+index).hasClass('visible')) {
            $('.truncDescription'+index).hide();
            $('.fullDescription'+index).show();
            $('.attachments'+index).show();
            $('.truncDescription'+index).removeClass('visible');
        } else {
            $('.truncDescription'+index).show();
            $('.fullDescription'+index).hide();
            $('.attachments'+index).hide();
            $('.truncDescription'+index).addClass('visible');
        }
      })
    })
  }
</script> -->
