<% provide(:title, 'News') %>

<div class="parallax-news">
  <div class="banner-news">
  <div class="banner-content-news text-center">
    <h1>Caremeds News & Updates</h1>
    <br>
    <p>Our main focus is on helping you helping others and that is why we would love to share several of our resources, tips and information about our Solutions across the entire stack.</p>
  </div>
  </div>
</div>

<div id="news-body">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <% @news_blogs.each do |nb| %>
          <div class="news-item">
            <div class="title">
              <div class="news-date">
                <p class="created-day"><%= nb.created_at.strftime("%e") %></p>
                <p class="created-month"><%= nb.created_at.strftime("%b") %></p>
              </div>
                <h2 style="color:#445d77"><%= nb.title %></h2>
            </div>
            <hr style="border-color:#9d9d9d6b;margin:8px 0 8px 0;">
            <p class="news-info">Details</p>
            <p style="color:#778899"><%= nb.description %></p>
            <div class="row">
              <% counter = 0 %>
              <% if nb.attachments.attachments != nil %>
                <% nb.attachments.each do |a| %>
                <% counter += 1 %>
                 <div class="-col-xs-12 col-sm-4 pad-bot">
                  <div class="card-<%= counter %>">
                    <% unless a.blob.content_type == "application/pdf" %>
                      <div class="card-image">
                        <%= image_tag a %>
                      </div>
                    <% end %>
                  </div>
                  <% unless a.blob.content_type != "application/pdf" %>
                    <%= link_to a.blob.filename, rails_blob_path(a, disposition: "previewable"), target: :_blank %>
                  <% end %>
                 </div>
                <% end %>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

