<% provide(:title, 'Pharmacy') %>

<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url(<%= image_path 'banners/pharm-banner.png'%>)">
  <div class="banner-content">
    <h1>CareMeds Pharma System</h1>
    <p>Intelligent Cloud based Medication Management System</p>
    <!-- <a class="btn btn-primary btn-lg">Start now</a> -->
  </div>
</div>

<!-- <div class="background-color">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 text-justify">
        <h4><strong>CareMeds Dispensing System</strong> is a powerful web based system that runs in a web browser such as Google Chrome on your exisiting PC hardware running Windows XP Pro, 7 or 8.</h4>
        <p>The system has been designed to provide the most advanced compliance charts and mobile software to ensure the FIVE RIGHTS in medication in care.</p>
        <p>
          This is achieved by utilising several innovative features that set our system AND your pharmacy apart from others.
        </p>
      </div>
    </div>
  </div>
</div> -->

<div class="background-color">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 text-center">
        <h3>Do you want your Pharmacy to do this?</h3>
      </div>
      <div class="col-xs-12 col-sm-6 col-sm-offset-3 text-center">
        <div class="graph">
          <%= image_tag "graphs/graph.png" %>
        </div>
      </div>
      <div class="col-xs-12">
        <div class="text-center">
          <p><strong>CareMeds Pharma</strong> is a growth accelerator application like no other in Pharmacy</p>
          <p>Start-up's have grown from <strong>Zero</strong> to <strong>Top 100</strong> status in the UK with CareMeds</p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="background-color">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 text-justify">
        <p>Pharmacies using CareMeds get more business. When a Care provider sees our system, they want it, new homes are easily acquired by pro-active pharmacy owners.</p>
        <p>Please feel free to browse our Charts and eMAR system and let us know what you think.</p>
        <div class="quote">
          <p><i class="fa fa-quote-left fa-2x"></i></p>
          <p>If you have any doubts about what affect CareMeds can have on your business, show a care home or even an existing customer our charts and see their reaction firsthand.
          </p>
          <p>Dont leave it to a competitor to raise the bar, be proactive and make sure your offer stays ahead of the rest.<br>
          <p class="text-right"><i class="fa fa-quote-right fa-2x"></i></p>
          </p>
        </div>
      </div>
    </div>
  </div>
</div> -->

  <div class="container">
    <div class="row">
      <div class="col-xs-12 text-center pad-top">
        <p>Care providers are under increasing pressure to reduce the number of errors being made when administering medications. Together with CareMeds, you have the key.</p>
        <p>Whether it's our market leading <u><b class="clickToScroll">Paper MARs</b></u> or our very latest <b><u class="clickToScroll">eMAR</u></b>system supported by the patented <b><u class="clickToScroll">MultiMeds or Unit Dose</u></b> blister packs, care providers are increasingly choosing CareMeds every day from pharmacies just like yours.</p>
        <p>A nationwide network of independent pharmacies provide medication to 30,000 patients in a variety of care settings each month.</p>
        <p>If you are serious about growth, get serious with <strong>CareMeds</strong>.</p>
        <div class="quote">
          <p class="text-left"><i class="fa fa-quote-left fa-2x"></i></p>
          <p>The CareMeds MAR Charts and MultiMeds systems are quite simply unparalleled in pharmacy. Our start up internet pharmacy has grown to service over 2000 residents in local carehomes using the systems within 3 years. The CareMeds and multiMeds systems are integral to the success if our pharmacy.</p>
          <p class="text-right"><i class="fa fa-quote-right fa-2x"></i></p>
          <p class="text-right"><small><i> Rajiv Tanna - Pharmacy Owner. <strong>CarePlus Pharmacy</strong> </i></small></p>
          </p>
        </div>
      </div>
    </div>
  </div>

<div class="background-color">
  <div class="container pad-bot">
    <div class="row">
        <h4 class="text-center pad-top"><u>CareMeds Innovative Features Overview:</u></h4>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <div class="card">
          <div class="card-image">
            <img src="http://www.loveo.cc/wp-content/uploads/2017/02/card-image.jpg"
              alt="Orange" />
            <div class="card-description">
              <h2>eMAR</h2>
              <!-- <p>Provide me with a description...</p> -->
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="card">
          <div class="card-image">
            <img src="http://www.loveo.cc/wp-content/uploads/2017/02/card-image.jpg"
              alt="Orange" />
            <div class="card-description">
              <h2>Paper MARs</h2>
              <!-- <p>Provide me with a description...</p> -->
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="card">
          <div class="card-image">
            <img src="http://www.loveo.cc/wp-content/uploads/2017/02/card-image.jpg"
              alt="Orange" />
            <div class="card-description">
              <h2>MultiMeds/Unit Dose</h2>
              <!-- <p>Provide me with a description...</p> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="pharm-parallax" style="background-image: url(<%= image_path 'banners/pharm-banner.png'%>);opacity: 0.5;"></div>

<div class="container">
  <div class="row">
    <div class="col-xs-12 text-center brown-text">
      <h1><strong>CareMeds</strong> Financial Plans</h1>
      <p>Take full advantage of CareMeds Dispencing System by choosing one of the following plans</p>
    </div>
  </div>
</div>

<div class="container">

  <div class="row">
    <div class="col-xs-12 col-md-6">
      <div class="finance-model well well-lg text-center">
        <h3 class="text-center brown-text">OPTION</h3>
        <h2 class="text-center"><%= image_tag("symbols/one.png") %></h2>
        <hr class="style-two-color">
        <h5>Duration: Only 12 Months</h5>
        <hr class="style-two-color">
        <p>Price: Per Resident/ Per Month</p>
        <hr class="style-two-color">
        <p>Quote: <strong>POA</strong></p>
      </div>
    </div>

    <div class="col-xs-12 col-md-6">
      <div class="finance-model well well-lg text-center">
        <h3 class="text-center brown-text">OPTION</h3>
        <h2 class="text-center"><%= image_tag "symbols/two.png" %></h2>
        <hr class="style-two-color">
        <h5>Duration: Only 12 Months</h5>
        <hr class="style-two-color">
        <p>Price: Fixed Fee Per Month</p>
        <hr class="style-two-color">
        <p>Quote: <strong>POA</strong> </p>
      </div>
    </div>
  </div>

</div>


<!-- Use the following code to test JS code on the relevant page -->
<!-- <script>
window.onload = function() {
    // $(document).ready(function() {

  // });
}
</script> -->
